ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.common_heading {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}

.image_box {
    position: relative;
    overflow: hidden;
}
.image_box .label{
    width: 40px;
    height: 40px;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}
.image_box .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.image_box .icons a{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px dotted brown;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100px);
}
.image_box .icons a:nth-child(1){
  transition: all linear 0.1s;
}
.image_box .icons a:nth-child(2){
  transition: all linear 0.2s;
}
.image_box .icons a:nth-child(3){
  transition: all linear 0.3s;
}
.image_box .icons a:nth-child(4){
  transition: all linear 0.4s;
}
.image_box:hover .icons a{
  transform: translateX(0px);
}


.image_box .display {
}
.image_box .display img{
    display: none;
}
.image_box .display img.active{
    display: block;
}

.image_box .thambnail {
    position: absolute;
    padding: 5px;
    left: 0;
    bottom: 0;
    z-index: 10;
}
.image_box .thambnail ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.image_box .thambnail ul li {
    width: 50px;
    border: 1px solid transparent;
}
.image_box .thambnail ul li.active {
    border: 1px solid red;
}
.image_box .thambnail ul li a {
}
.image_box .thambnail ul li a img {
    filter: opacity(30%);
}
.image_box .thambnail ul li.active a img {
    filter: opacity(100%);
}
.top_collection_item{
    display: block;
    margin: 0 15px;
}
.top_collection_item .text_box {
}
.top_collection_item .text_box .stars {
}
.top_collection_item .text_box .stars i {
}
.top_collection_item .text_box .text {
}

.top_collection_item .text_box .text a {
}

.top_collection_item .text_box .text p {
}

.top_collection_item .text_box .text h4 {
}
.top_collection_item .text_box .text h4 span {
}
.top_collection_item .text_box .text h4 del {
}

.top_collection_item .text_box .colors {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}
.top_collection_item .text_box .colors span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.top_collection_item .text_box .colors span:nth-child(1){
  background: #4C4B2C;
}
.top_collection_item .text_box .colors span:nth-child(2) {
  background: #D48F2C;
}
.top_collection_item .text_box .colors span:nth-child(3) {
  background: #D0CDD4;
}
.top_collection_item .text_box .colors span.active{
  border: 1px solid red;
}
